<link rel="Style" herf="style.css">
<h1>JOIN US</h1>

<p>Enter your email to join <Strong><%=data%></Strong> other users</p>


<form method='POST' action="/register">
    <input type="text" class="form" place holder="Enter Your Email">
    <buttom> Join Now</buttom>
</form>